.container{
  display: flex;
  height: 60px;
  background: #f6f6f6;
  margin: 0px;
  max-width: 100%!important;  
}

.container .left-items{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container .right-items{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
